body {
    background-color: #f7f6e9;
}

a {
    color: #eb6100;
}

.py-4 {
    display: flex;
}

.bar_area {
    flex-basis: 25%;
    padding: 0px 4%;
}

.bar_area p {
    border: solid;
    border-color: #eb6100;
    border-radius: 5%;
    background-color: #fff;
    height: 60px;
    margin-bottom: 5px;
    text-align: center;
}

.bar_area a {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 18.5px 0px;
    color: #eb6100;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

.bar_area a:hover {
    color: #fff;
    background-color: #eb6100;
    border-color: #fff;
    transition: color 300ms ease-in-out;
}

.selected {
    font-weight: bold;
}

.main {
    flex-basis: 75%;
    padding: 0px 7%;
}

.app-title {
    color: #eb6100;
}

.top p, li {
    font-size: 20px;
}

.submit-field {
    border: solid;
    border-radius: 5%;
    border-color: #eb6100;
    padding: 10px;
    margin: 10px 0px;
    width: 70%;
}

.submit p {
    font-size: 20px;
}

/*.submit input {*/
/*    width: 500px;*/
/*}*/

/*.submit textarea {*/
/*    width: 500px;*/
/*    height: 100px;*/
/*    次回、レスポンシブ対応について調べてから取り掛かる！！！*/
/*    プラス、佐藤さんとかにそのアドバイス聞いてみたり、縦幅のピクセルはどの程度決めるべきなのか相談してみる*/
/*}*/

.wide_space {
    width: 70%;
}

textarea.wide_space {
    height: 100px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #eee;
}

table th {
    padding: 10px 0;
    text-align: center;
    background-color: #eb6100;
    border: solid #ccc;
    color: #fff;
}

table td {
    padding: 10px 10px;
    background-color: #eee;
    border: solid #ccc;
}

table td.manner, table td.name {
    text-align: center;
}

table td.comment {
    text-align: left;
}

table td.score, table td.time, table td.order {
    text-align: right;
}

.discussion .header {
    display: flex;
}

.right {
    margin-left: auto;
}

.post {
    border: solid #eb6100 2px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

.create, .edit {
    color: green;
}

.error {
    color: red;
}

.messages {
    width: 100%;
    border: solid #eb6100 2px;
    border-radius: 5px;
    background-color: #fffee6;
    padding: 10px 0;
    margin-bottom: 30px;
}

/* 全体 */
.sb-box {
    position: relative;
    overflow: hidden;
}
/* アイコンネーム */
.icon-name {
    position: absolute;
    width: 80px; /* ネームの最大幅を画像と同じに */
    text-align: center; /* ネームの位置をセンターに */
    top: 16px; /* ネームの位置を上から16pxに */
    font-size: 16px; /* ネームのフォントサイズ */
}
/* アイコンネーム（左） */
.icon-name-left {
    color: #777;
    left: 0; /* ネームの位置を左から0に */
}
/* アイコンネーム（右） */
.icon-name-right {
    color: #06c755;
    right: 0; /* ネームの位置を右から0に */
}
/* 吹き出し */
.sb-side {
    position: relative;
    float: left;
    margin: 0 105px 40px 105px; /* 吹き出しの上下左右の余白 */
}
.sb-side-right {
    float: right;
}
/* 吹き出し内のテキスト */
.sb-txt {
    position: relative;
    border: 2px solid #eee; /* 吹き出しの縁取りの太さとカラー */
    border-radius: 6px; /* 吹き出しを角丸に */
    background: #fff; /* 吹き出しの背景色 */
    color: #333; /* 吹き出し内のテキストのカラー */
    font-size: 15px; /* 吹き出し内のフォントサイズ */
    line-height: 1.7; /* 吹き出し内のテキストが2行以上になった時の行間 */
    padding: 18px; /* 吹き出し内の上下左右の余白 */
}
.sb-txt > p:last-of-type {
    padding-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにpadding-bottomをつけない */
    margin-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにmargin-bottomをつけない */
}
/* 吹き出しの三角 */
.sb-txt:before {
    content: "";
    position: absolute;
    border-style: solid;
    top: 16px; /* 吹き出し内の三角の位置 */
    z-index: 3;
}
.sb-txt:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 15px; /* beforeより-1px */
    z-index: 2; /* beforeより-1 */
}
/* 吹き出しの三角（左） */
.sb-txt-left:before {
    left: -7px;
    border-width: 7px 10px 7px 0;
    border-color: transparent #fff transparent transparent; /* 背景色と同じカラーに */
}
.sb-txt-left:after {
    left: -10px; /* beforeより-3px */
    border-width: 8px 10px 8px 0; /* beforeより上下+1px */
    border-color: transparent #eee transparent transparent; /* 縁取りと同じカラーに */
}
/* 吹き出しの三角（右） */
.sb-txt-right:before {
    right: -7px;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #fff; /* 背景色と同じカラーに */
}
.sb-txt-right:after {
    right: -10px; /* beforeより-3px */
    border-width: 8px 0 8px 10px; /* beforeより上下+1px */
    border-color: transparent transparent transparent #eee; /* 縁取りと同じカラーに */
}

/* 767px（iPad）以下 */
@media (max-width: 767px) {
    /* アイコン画像 */
    .icon-img {
    width: 60px; /* 画像の幅を-20px */
    height: 60px; /* 画像の高さを-20px */
    }
    /* アイコンネーム */
    .icon-name {
    width: 60px; /* 画像の幅に合わせて-20px */
    top: 62px; /* ネームの位置を上から62に */
    font-size: 9px; /* ネームのフォントサイズを-1px */
    }
    /* 吹き出し（左） */
    .sb-side-left {
    margin: 0 0 30px 78px; /* 吹き出し（左）の上下左右の余白を狭く */
    }
    /* 吹き出し（右） */
    .sb-side-right {
    margin: 0 78px 30px 0; /* 吹き出し（右）の上下左右の余白を狭く */
    }
    /* 吹き出し内のテキスト */
    .sb-txt {
    padding: 12px; /* 吹き出し内の上下左右の余白を-6px */
    }
}

.sb-txt-delete {
    /*float: right;*/
    display: inline-block;
}
